
.main-header{
    text-align:center;
    background-color:black;
    color:white;        
    padding:4px;
}
.section-header{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(46, 45, 45);
    color:white;        
    padding:2px;
    min-width: inherit;
     
}
.section-body{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(109, 108, 108);
    color:white;        
    display:block;
    /* padding:2px; */
    /* min-width: inherit;*/
}
.column {
    display: inline-block;
  
    min-width: 10%;
    margin: 10px;
    height: max-content;
  }
.half-width{
    width: 49%;
    display: inline-block;
    padding: 4px;
    height: max-content;
    /* border: 2px solid red; */
}
.full-width{
    width: 100%;
    display: inline-block;
    padding: 4px;
     
    /* border: 2px solid red; */
}
.container{
    /* border: 3px solid rgb(0, 0, 0); */
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;

    
}
.button-group{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(46, 45, 45);
    color:white;        
    padding:4px;
}