
.main-header{
    text-align:center;
    background-color:black;
    color:white;        
    padding:4px;
}
.section-header{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(46, 45, 45);
    color:white;        
    padding:2px;
    min-width: inherit;
     
}
.section-body{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(109, 108, 108);
    color:white;      
    height: max-content;   
    display:block;
    /* padding:2px; */
    /* min-width: inherit;
    height: fit-content; */
}
/* .section-body{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(109, 108, 108);
    color:white;        
    padding:2px;
} */
.column{
    display: flow-root;
    float: left;
    min-width: 10%;
    margin:10px;
    height: max-content;
    
}
.half-width{
    width: 49%;
    float: left;
    padding: 4px;
    height: max-content;
    /* border: 2px solid red; */
}
.full-width{
    width: 100%;
    float: left;
    padding: 4px;
     
    /* border: 2px solid red; */
}
.container{
    /* border: 3px solid rgb(0, 0, 0); */
    /* padding: 20px; */
     
    
}
.button-group{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(46, 45, 45);
    color:white;        
    padding:4px;
}