
.main-header{
    text-align:center;
    background-color:black;
    color:white;        
    padding:4px;
}
.section-header{
    text-align:left;
    text-indent: 10px;
    background-color:rgb(46, 45, 45);
    color:white;        
    padding:2px;
    min-width: inherit;
}
.section-body{
    text-align:left;
    /* text-indent: 10px; */
    padding: 8px;
    background-color:rgb(109, 108, 108);
    color:white;        
    display:block;
    
}
.column {
    display: inline-block;
    vertical-align:top;
    min-width: 10%;
    width:max-content;
    height: max-content;
    padding:4px;
    margin: 0px;
    margin-left: 16px;
}
h5 {
    display: block;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}